body {
  margin: 0;
  background-color: #EFE6E4;
  color: #533738;
}

p {
  font-size: 18px;
  line-height: 30px;
}

h1 {
  font-size: 50px;
  line-height: 62px;
}


a {
  color: #533738;
  text-decoration: none;
}

.wrapper {
  margin: 0 185px;
}

.page_header {
  
  width: 100%;
  height: 800px;
  background: rgb(231, 32, 32) url("/img/header_image.png") no-repeat;
  background-size: cover;

}

.page_section {
  background-color: #EFE6E4;;
  width: 100%;
  

  padding: 30px 0;
}

.page_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFE6E4;;
  
  width: 100%;
  height: 100px;
}

.section-3 {
  background-color: #E2C4BA;
}

.section-5 {
  background-color: #8D7370;
  padding: 0;
  color: #fff;
}


.section-2 .wrapper{
  margin: 0 100px;
}

.section-3 .wrapper{
  margin: 0 100px;
}

.section-1 h2,
.section-3 h2,
.section-4 h2 {
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.about-image {
  margin-top: 25px;
  margin-right: 35px;
}

.progress {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 200px;
  background-color: #8D7370;
}

.progress-item {
  width: 300px;
}


.progress-item h2{
  
  color: #fff;
  font-size: 50px;
}

.progress-item p{
  
  text-align: center;
  
  color: #fff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  
}

.project-item {
  
  margin: 0 20px 30px 0;
  
  background-size: cover;
}

.project-item-1 {
  
  width: 550px;
  height: 550px;

  background: url("../img/projects/img-1.png") no-repeat;
  background-size: cover;
}

.project-item-2 {
  
  width: 700px;
  height: 550px;

  background: url("../img/projects/img-2.png") no-repeat;
  background-size: cover;
}

.project-item-3 {
  
  width: 700px;
  height: 550px;

  background: url("../img/projects/img-3.png") no-repeat;
  background-size: cover;
}

.project-item-4 {
  
  width: 550px;
  height: 550px;

  background: url("../img/projects/img-4.png") no-repeat;
  background-size: cover;
}

.overlay{
  height: 100%;
  margin: 0 0;
  display: none;
  background-color: rgba(53, 37,38, 80%);
  
  color: #fff;

}

.overlay h2{
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 100px;
  
  
}

.overlay p{
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0 100px;
}

.project-item:hover > .overlay{
  display: block;
}

.show_more {
  text-align: center;
}

.section-3 .container {
  justify-content: space-around;
}

.article {
  width: 320px;
  
}

.capability {
  width: 285px;
  align-items: center;
}

.capability div, .capability p{
  margin: 0 auto;
  text-align: center;
}

.review-list {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  align-items: center;
  gap: 30px;
}

.review-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.about-content {
  width: 500px;
}

input {
  display: block;
  color: #F6EDE9;
  width: 100%;
  height: 30px;
  border: 0;

  border-bottom: 1px solid #fff;
  background-color: inherit;

  margin-bottom: 40px;
}

input::placeholder {
  color: #F6EDE9;
}

.callback {
  display: flex;
  justify-content: space-between;
}

.callback-image {
  margin-left: 100px;
}

.form-callback {
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  margin: auto 100px;
}

.footer-content .copyright {
  justify-self: flex-end;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #8D7370;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 35px 100px;
  margin: auto auto;
  margin-bottom: 100px;
}

.logo {
  margin: auto 0;
}

.tel {
  margin: auto auto;
}

.menu-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.menu-item {
  padding: 0 20px;
}

.menu-item a{
  text-decoration: none;
  color: #533738;
}

.menu-item a:hover{
  border-bottom: 1px solid #533738;
  
}

.context-name {
  width: 500px;
  margin-bottom: 25px;
}

.context {
  width: 350px;
  height: 90px;
  word-wrap:break-word;
  
}

.button.button-callback{
  width: 300px;
  height: 70px;
}

.button-navigation{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.button {
  border: none;
  color: #533738;
  font-size: 20px;
  background-color: #CC8B86;
}
